

.wrapper-page-login {
    width: fit-content;
    height: fit-content;
    padding: 16px 16px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.wrapper-btn-submit {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
}

body {
    margin: 0px 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

html {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}
